<div class="row">
    <%if(pageData[3]=="admin"){%>
    <div class="col-xl-3 mb-3">
        <select name="article_department" id="article_department" class="form-control">
            <option value="-1">Tất cả</option>
            <%pageData[1].forEach((department,index)=>{%>
            <option value="<%=department.id%>"><%=department.department_name%></option>
            <%})%>
        </select>
    </div>
    <%}%>
    <div class="col-xl-12">
        <%- include ('../message/messagebox') -%>
        <div class="card easion-card">
            <div class="card-header">
                <div class="easion-card-icon">
                    <i class="fas fa-user"></i>
                </div>
                <div class="easion-card-title">Quản lí bài viết</div>
            </div>
            <div class="p-3">
                <table id="example" class="table table-border" style="width:100%">
                    <thead class="table-primary">
                        <tr>
                            <th>ID</th>
                            <th>Chuyên mục</th>
                            <th>Tựa đề</th>
                            <th>Tác giả</th>
                            <th>Lượt xem</th>
                            <th>Trạng thái</th>
                            <th>Tình trạng</th>
                            <th>Cập nhật lần cuối</th>
                            <th>Chức năng</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% pageData[0].forEach((article,index)=>{ %>
                            <tr>
                                <td>
                                    <%= article.id%>
                                </td>
                                <td>
                                    <%= article.catalogue.catalogue_name%>
                                </td>
                                <td>
                                    <%= article.article_heading%>
                                </td>
                                <td>
                                    <%= article.User.user_name%>
                                </td>
                                <td>
                                    <%= article.article_view%>
                                </td>
                                <% if(article.article_status==1){%>
                                    <td class="text-success">Đang sử dụng</td>
                                <% }else{%>
                                    <td class="text-danger">Vô hiệu hóa</td>
                                <%}%>
                                <% if(article.article_censor==1){%>
                                    <td class="text-success">Đã duyệt</td>
                                <% }else{%>
                                    <td class="text-danger">Chưa duyệt</td>
                                <%}%>
                                <td>
                                    <%= article.updatedAt.getDate()%>/<%= article.updatedAt.getMonth()%>/<%= article.updatedAt.getFullYear()%> -<%= 
                                    article.updatedAt.getHours()%>:<%= article.updatedAt.getMinutes()%>:<%= article.updatedAt.getSeconds()%>
                                </td>
                                <td>
                                    <%if(pageData[3]!="uncensor"){%>
                                    <a class="btn btn-success text-white mb-2" title="Cập nhật bài viết" onclick="window.open('/article/<%= article.id%>','update','width=1000,height=500')">
                                        <i class="fas fa-edit"></i></a>
                                    <a class="btn btn-danger text-white mb-2" title="Xóa bài viết" data-bs-toggle="modal" data-bs-target="#deleteModal"
                                    data-id="<%= article.id %>">
                                        <i class="fas fa-trash"></i></a>
                                    <%}%>
                                    <%if(pageData[3]!="user"&&article.article_censor==0){%>
                                    <a class="btn btn-primary text-white mb-2" title="Duyệt bài viết" data-bs-toggle="modal" data-bs-target="#censorArticleModal"
                                    data-id="<%= article.id %>">
                                        <i class="fas fa-check"></i></a>
                                    <%}%>
                                </td>
                            </tr>
                            <%});%>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<%- include('../modal/deleteModal') -%>
<%if(pageData[3]!="user"){%>
    <%- include('../modal/article_censor') -%>
<%}%>