<div class="row">
    <%if(pageData[3]=="user"){%>
    <div class="col-xl-3">
        <a href="/" class="btn btn-primary mb-3" data-bs-toggle="modal" data-bs-target="#createPhotoModal">Thêm ảnh mới</a>
    </div>
    <%}%>
    <div class="col-xl-12">
        <%- include ('../message/messagebox') -%>
        <div class="card easion-card">
            <div class="card-header">
                <div class="easion-card-icon">
                    <i class="fas fa-user"></i>
                </div>
                <div class="easion-card-title">Quản trị hình ảnh</div>
            </div>
            <div class="p-3">
                <table id="example" class="table table-border" style="width:100%">
                    <thead class="table-primary">
                        <tr>
                            <th>ID</th>
                            <th>Phòng ban</th>
                            <th>Người đăng</th>
                            <th>Hình ảnh</th>
                            <th>Trạng thái</th>
                            <th>Tình trạng</th>
                            <th>Chức năng</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% pageData[0].forEach((photo,index)=>{ %>
                            <tr>
                                <td>
                                    <%= photo.id%>
                                </td>
                                <td>
                                    <%= photo.Department.department_name%>
                                </td>
                                <td>
                                    <%= photo.User.user_name%>
                                </td>
                                <td>
                                    <img src="<%=photo.photo_content%>" width="250px">
                                </td>
                                <% if(photo.photo_status==1){%>
                                    <td class="text-success">Đang sử dụng</td>
                                <% }else{%>
                                    <td class="text-danger">Vô hiệu hóa</td>
                                <%}%>
                                <% if(photo.photo_censor==1){%>
                                    <td class="text-success">Đã duyệt</td>
                                <% }else{%>
                                    <td class="text-danger">Chưa duyệt</td>
                                <%}%>
                                <td>
                                    <%if(pageData[3]=="admin"||pageData[3]=="censor"){%>
                                        <a class="btn btn-success text-white" title="Cập nhật hình ảnh" data-bs-toggle="modal" data-bs-target="#updatePhotoModal"
                                        data-id="<%= photo.id%>" data-content="<%= photo.photo_content%>" data-status="<%= photo.photo_status%>" 
                                        data-censor="<%= photo.photo_censor %>">
                                            <i class="fas fa-edit"></i></a>
                                    <%}%>
                                    <a class="btn btn-danger text-white" title="Xóa hình ảnh" data-bs-toggle="modal" data-bs-target="#deleteModal"
                                    data-id="<%= photo.id %>"><i class="fas fa-times"></i></a>
                                </td>
                            </tr>
                            <%});%>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<%if(pageData[3]=="user"){%>
   <%- include('../modal/photo_create')-%>
<%}%>
<%- include('../modal/deleteModal')-%>
<%if(pageData[3]=="admin"||pageData[3]=="censor"){%>
    <%- include('../modal/photo_update')-%>
 <%}%>